PORT=8002

DATABASE_URL=postgres://postgres:postgres@localhost:5432/newton
DATABASE_NAME=newton
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432

# 'mock' for generating mock proofs locally, 'local' for generating proofs locally, 'network' for generating proofs using the proving network.
SP1_PROVER=network
# If using the proving network, set to your whitelisted private key. For more information, see:
# https://docs.succinct.xyz/prover-network/setup.html#key-setup
NETWORK_PRIVATE_KEY=

# Lambda mode
LAMBDA=false

# SQLx
SQLX_OFFLINE=false

# Chain Defaults
DEFAULT_RPC_URL="https://1rpc.io/ata/testnet"
DEFAULT_DCAP_CONTRACT="0x95175096a9B74165BE0ac84260cc14Fc1c0EF5FF"

# PCCS addresses
ENCLAVE_ID_DAO_ADDRESS="0xd74e880029cd3B6b434f16beA5F53A06989458Ee"
FMSPC_TCB_DAO_ADDRESS="0xd3A3f34E8615065704cCb5c304C0cEd41bB81483"
PCS_DAO_ADDRESS="0xB270cD8550DA117E3accec36A90c4b0b48daD342"
PCK_DAO_ADDRESS="0xa4615C2a260413878241ff7605AD9577feB356A5"

# Verify only mode
VERIFY_ONLY=true
